#### The data was previously preprocessed and encoded in a previous notebook. 
#### This is an example

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
import datetime

In [2]:
train=pd.read_csv('C:/Users/Amine/Desktop/group_project.csv')

##### get the right age instead of year of birth

In [3]:
train['age'] = (datetime.datetime.now().year - train.age)

##### See the data

In [4]:
train.head()

,ID,marital_status,number_children,sex,age,work,longitude,latitude,trip_ID,taste,country_of_origin
0,104058,1,0.0,1,32.0,1,6.466466,43.532617,1,1,2
1,328617,1,0.0,2,56.0,2,6.466466,43.532617,2,2,5
2,330630,1,0.0,2,72.0,1,6.461166,43.534367,4,1,9
3,339358,2,0.0,1,73.0,1,6.461166,43.534367,3,0,9
4,340284,1,0.0,2,72.0,1,6.461166,43.534367,2,0,4

##### Get the X,y

In [5]:
features=['marital_status','number_children','sex','age','work','longitude','latitude','taste','country_of_origin']
y= train['trip_ID'].copy()
X=train[features]

#### No tuning since this is an example :D

In [6]:
xgb = XGBClassifier()
xgb.fit(X,y)
preds_on_train = xgb.predict_proba(X)

In [10]:
preds_on_train

array([[0.2463489 , 0.25588673, 0.24565549, 0.25210887],
       [0.25634965, 0.24417897, 0.2507308 , 0.2487406 ],
       [0.23766442, 0.25724834, 0.24679516, 0.25829208],
       ...,
       [0.25625426, 0.25887293, 0.24509205, 0.23978075],
       [0.2435867 , 0.2633675 , 0.24750765, 0.24553816],
       [0.25032464, 0.25120774, 0.25164187, 0.24682572]], dtype=float32)